


// * CORE MIXINS
@mixin displayFlex($justC, $alignC, $alignI, $fdirection){
  display: flex;
  justify-content: $justC;
  align-content: $alignC;
  align-items: $alignI;
  flex-direction: $fdirection;
}


// * CORE VARIABLES

// * NAV
$text-color-main: rgb(226, 226, 226);
$nav-background-color: rgb(31, 31, 31);
$nav-text-color-hover: #B9070B;


$nav-button-font-size: 1.4em;

//* USER SIGN-IN

$user-text-color-main: #B9070B;
$user-background-color : #000000;
$user-form-border-color: #B9070B;
$user-text-color-hover: rgb(246, 0, 0);
