@import '../Sass/normalize';
@import '../Sass/_Variables.scss';
@import '../Containers/App/App';
@import '../Containers/Home/home';
@import '../Components/CardContainer/cardContainer';
@import '../Containers/Card/card';
@import '../Containers/Main/main';
@import '../Containers/Nav/nav';
@import '../Containers/UserSignIn/userSignIn';
@import '../Components/Movie/movie';


* {
  margin: 0;
  padding: 0;
}
button:focus, link:focus {
  outline: none;
}
html, body, #app, #app>div {
  height: 100%
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
