.user-sign-in-container {
  // background: #242424;
  height: 100vh;
  color: $user-text-color-main;
  @include displayFlex(none, center, center, column);
  font-size: 1.2em;
}
.user-sign-in-background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  z-index: -1;
  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.50;
  }
}
.login-form {
  @include displayFlex(space-around, center, center, column);
  height: 18em;
  width: 15em;
  padding: 1em;
  margin-top:5em;
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.2em;
}
.input-container {
  @include displayFlex(space-around, center, flex-start, column);
}
.input-container {
  width: 100%;
}
.user-input {
  width: 95%;
  height: 3em;
  margin-top: 0.3em;
  border: none;
  border-radius: 0.2em;
  padding-left: 0.5em;
  font-size: 0.7em;
}
.user-input:focus {
  outline: none;

}

.sign-in-button {
  font-size: 0.8em;
  width: 10em;
  height: 2.5em;
  border-radius: 0.3em;
  border: none;
  margin: 0.4em;
  color: rgb(231, 231, 231);
  background-color: #E50615;
}
.sign-in-button:hover {
  cursor: pointer;
  background-color: rgb(224, 30, 43);
  

}

.user-form-link {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  font-size: 0.8em;
  padding-top: 0.5em;
  color: rgb(231, 231, 231);
}
.button-container {
  @include displayFlex(center, center, center, column);

  display: flex;
  justify-content: center;
  flex-direction: column;
}
.user-form-title {
  font-size: 1.2em;
  color: rgb(231, 231, 231);
  padding: 0.2em 2em;
}

.user-form-link:hover {
  color: $user-text-color-hover;
}

.status-msg {
  font-size: 0.7em;
  // padding: 1.5em;
  color: #E87B04;
}

label { 
  font-size: 0.8em;
}
.nav-user-name {
  color: #E50615;
}