@import "../../Sass/variables";

nav {
  background-color: black;
  height: 6em;
  @include displayFlex(center, center, null, row);
}
ul {
  list-style: none;
  width: 95%;
  @include displayFlex(space-between, center, center, row);
}
nav li {
  height: 3em;
  @include displayFlex(center, center, center, row);
  border-radius: 1em;
  padding: 0 1em;
}

a.nav-link,
button.nav-link {
  text-decoration: none;
  color: $text-color-main;
  font-size: $nav-button-font-size;

  font-size: 1em;
  background-color: transparent;
  padding: 0.5em;
  transition:font-weight 0.2s;
}
a.nav-link:hover,
button.nav-link:hover {
  color: white;
}
.main-nav-container {
  width: 40%;
  @include displayFlex(flex-start, center, center, row);
}
.nav-title {
  margin: 0 0.8em 0 0;
  color: #E40B13;
}

.nav-signed-in-user {
  color: $text-color-main;
  padding: 1em;
}
.nav-user-name {
  color: $nav-text-color-hover;
}
.nav-signed-in-container {
  font-size: 0.9em;
}
.nav-title.signout-button {
  background-color: transparent;
  border: none;
  color: rgb(221, 221, 221);
  padding: 0.5em;
  font-size: 1em;
}

.nav-title.signout-button:hover {
  cursor: pointer;
  color: white;
}
