.card-wrapper {
  height: 20em;
  margin: 0em 0.5em;
  position: relative;
}

.card-background {
  height: 18.2em;
  width: 12.1em;
  outline: grey 0.1em solid;
  background-size: contain;
  transition: transform 0.3s;
  background-repeat: no-repeat;
  // border: grey solid 2px;
}
.card-background:hover {
  transform: scale(1.3);
}
.card-wrapper:hover {
  z-index: 50;
  transform: rotate(0.01deg);
  opacity: 1;
}

.card-info {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card-info:hover {
  opacity: 1;
  width: 100%;
  height: 100%;
  transform: rotate(0.01deg);

}

.card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1em;
  font-weight: normal;
}

.favorite-icon {
pointer-events: none;

}

.card-button {
  background-color: transparent;
  font-size: 1.5em;
  color: $user-text-color-main;
  text-decoration: none;
  transition: color 0.4s;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.card-button:hover {
  cursor: pointer;
}
.card-button-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1em; 
  height: 100%;
  flex-direction: column;
}

.more-info-icon {
  color: white;
}
.card-rating {
  color: rgb(44, 175, 44);
  font-weight: bold;
  font-size: 0.3em;
}
.rating {
  font-size: 0.3em;
}

button { 
  outline: none;
  border: none;
}