.home-container {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #434343,
    rgb(31, 31, 31)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #0f0f0f,
    rgb(24, 24, 24)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
  height: 100%;
  color: white;
  overflow: scroll;
  height: 90%;
}

.home-title {
  padding: 1em 0;
}
